<div class="container-fluid bg-blue">
    <div class="container marketing p-4">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ asset('media/Element 2300.png') }}" class="rounded-circle img-fluid bg-white w-50" alt="Wheelchair" title="Wheelchair" />
                <h2 class="py-2 text-white-50">Rollatoren</h2>
                <p>Rollatoren geh&ouml;ren inzwischen zum Alltag. Sie sind n&uuml;tzliche Begleiter, wenn Gleichgewicht und Kraft beim Gehen nicht mehr so richtig mitmachen. Nicht umsonst gibt es die unterschiedlichsten Modelle sogar im Discounter-Regal zum branchen&uuml;blichen Schn&auml;ppchen-Preis.</p>
                <p>
                    <a href="{{ path('rollator-advice') }}" class="btn bg-lightblue" title="">Zur Kaufberatung</a>
                </p>
            </div>
            <div class="col-lg-4 offset-lg-4">
                <img src="{{ asset('media/Element 3300.png') }}" class="rounded-circle img-fluid w-50" alt="Wheelchair" title="Wheelchair" />
                <h2 class="py-2 text-white-50">E-Scooter</h2>
                <p>Elektromobile - oder &quot;neudeutsch E-Scooter&quot; - sind streng genommen elektrisch angetriebene Mobilit&auml;tshilfen f&uuml;r Senioren und Menschen, die beispielsweise selbst kurze Wegestrecken wie Eink&auml;ufe oder Arztbesuche nicht mehr ohne Hilfe bew&auml;ltigen k&ouml;nnen.</p>
                <p>
                    <a href="{{ path('scooter-advice') }}" class="btn bg-lightblue" title="">Zur Kaufberatung</a>
                </p>
            </div>
        </div>

    </div>
</div>