{% extends 'base.html.twig' %}
{% block body %}
    {%  include 'frontend/start/nav.html.twig' %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('build/media/senioren_background_web.jpg') }}">
        <div class="parallax-content"></div>
    </div>
    {% block body_intro %}
    <div class="container marketing py-4">
        {% include 'frontend/start/intro.mobilitaet.html.twig' %}
    </div>
    {% endblock %}
    {% block body_events %}{% endblock %}
    {% block body_content_top %}
        {% include 'frontend/static/advice.html.twig' %}
    {% endblock %}
    {% block body_content_main %}
    {% include 'frontend/start/rollator.html.twig' %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('build/media/rollikinder_background_web.jpg') }}">
        <div class="parallax-content">
        </div>
    </div>
    {% include 'frontend/start/rollstuhl.html.twig' %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('build/media/opaenkel_background_web.jpg') }}">
        <div class="parallax-content">
        </div>
    </div>
    {% include 'frontend/start/scooter.html.twig' %}
    {% endblock %}
    {% block body_footer %}
    <!-- Footer Section -->
    <footer class="wn-footer">
        <p><a href="https://www.reha-aktiv-chemnitz.de" title="Reha-aktiv GmbH">Reha-aktiv GmbH</a> &ndash; <a href="{{ path('imprint') }}" title="Impressum">Impressum</a></p>
    </footer>
    {% endblock %}
{% endblock %}