{% extends 'base.html.twig' %}
{% block body %}
    {%  include 'frontend/start/nav.html.twig' %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('media/senioren_background_web.webp') }}">
        <div class="parallax-content"></div>
    </div>
    {# Start Content Intro Mobilität #}
    <div class="container marketing py-4">
        {% include 'frontend/start/intro.mobilität.html.twig' %}
    </div>
    {# End Content Intro Mobilität #}
    {# Start Event Container #}

    <div class="container marketing">
        <hr class="featurette-divider">
        {% include 'frontend/events/container.html.twig' %}
        <hr class="featurette-divider">
    </div>
    {# End Event Container #}
    {# Start Content Rollator #}
    {% include 'frontend/start/rollator.html.twig' %}
    {# End Content Rollator #}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('media/omaeinkauf_background_web.webp') }}">
        <div class="parallax-content"></div>
    </div>
    {# Start Content Rollstuhl #}
    {% include 'frontend/start/rollstuhl.html.twig' %}
    {# End Content Rollstuhl #}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('media/rollikinder_background_web.webp') }}">
        <div class="parallax-content">
        </div>
    </div>
    {# Start Content Scooter #}
    {% include 'frontend/start/scooter.html.twig' %}
    {# End Content Scooter #}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('media/opaenkel_background_web.webp') }}">
        <div class="parallax-content">
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="wn-footer">
        <p>Reha-aktiv GmbH</p>
    </footer>
{% endblock %}