{% extends 'base.html.twig' %}
{% block javascripts %}
{{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.5.0/parallax.min.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    {%  include 'frontend/start/nav.html.twig' %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('build/images/Fotolia_187909637_M.jpg') }}">
        <div class="parallax-content"></div>
    </div>
    {# Start Content Intro Mobilität #}
    <div class="container marketing py-4">
        {% include 'frontend/start/intro.mobilität.html.twig' %}
    </div>
    {# End Content Intro Mobilität #}
    {# Start Event Container #}

    <div class="container marketing">
        <hr class="featurette-divider">
        {% include 'frontend/events/container.html.twig' %}
        <hr class="featurette-divider">
    </div>
    {# End Event Container #}
    {# Start Content Rollator #}
    {% include 'frontend/start/rollator.html.twig' %}
    {# End Content Rollator #}
    <div class="parallax-window" data-parallax="scroll" data-image-src="/VD1_5607_web.jpg">
        <div class="parallax-content"></div>
    </div>
    <div class="container marketing py-4">
        <p class="lead"><strong>Aktiv-Rollstühle</strong> können heute wahre Leichtgewichte sein! Von der Verwendung daheim bis hin zur Städtetour ist vieles möglich. Aber ob Falt- oder Starrahmen: Das Gewicht ist nur ein Qualitätskriterium, das ein Plus in Sachen Alltagsmobilität bedeutet. Dazu kommen Schmutzempfindlichkeit von Lagern und Lenkradachsen, Rollwiderstand und Wendigkeit. Aber auch ein optimaler Greifpunkt, die richtige Radgröße und die Einstellung des Schwerpunktes sind Themen, die man am besten mit dem Experten bespricht. Das alles finden Sie bei uns!</p>
    </div>
    <div class="parallax-window" data-parallax="scroll" data-image-src="/17833-_MG_2141.jpg">
        <div class="parallax-content">
        </div>
    </div>
    {# Start Content Scooter #}
    {% include 'frontend/start/scooter.html.twig' %}
    {# End Content Scooter #}
    <div class="parallax-window" data-parallax="scroll" data-image-src="ORION PRO BE19.jpg">
        <div class="parallax-content">
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="wn-footer">
        <p>Reha-aktiv GmbH</p>
    </footer>
{% endblock %}