<div class="row my-2">
    <div class="col-12 animation-element slide-left">
        <div class="bg-blue slider-left">
            <div class="header">
                <h3 class="text-uppercase p-3">Leo<sup>&reg;</sup></h3>
            </div>
        </div>
    </div>
</div>
<div class="row featurette">
    <div class="col-5 animation-element slide-left">
        <div class="box20">
            <picture>
                <source srcset="{{ asset('media/leo_web.webp') }}" type="image/webp">
                <source srcset="{{ asset('media/leo_web.jp2') }}" type="image/jp2">
                <img src="{{ asset('media/leo_web.jpg') }}" class="img-fluid mx-auto" />
            </picture>
            <div class="more">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="box-content">
                <h3 class="title">ELEKTROMOBIL LEO<sup>&reg;</sup></h3>
                <span class="post">Technische Daten:</span>
                <ul>
                    <li>Max. Nutzlast 136 kg</li>
                    <li>Reichweite 38 km</li>
                    <li>Geschwindigkeit 6 km/h</li>
                    <li>Gewicht 83 kg</li>
                    <li>Sitzbreite 47 cm</li>
                    <li>Sitztiefe 41 cm</li>
                    <li>Sitzhöhe 46-56 cm</li>
                    <li>Rückenlehne 47,5 cm</li>
                    <li>Gesamtbreite 66 cm</li>
                    <li>Motorleistung 240 W</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-7">
        <h2 class="featurette-heading">ELEKTROMOBIL LEO<sup>&reg;</sup></h2>
        <p class="lead">Der Invacare® Leo® erfüllt mit ÖPNV-Sonderausstattung
            sämtliche Anforderungen für die Mitnahme in öffentlichen
            Verkehrsmitteln.</p>
        <div class="d-flex justify-content-start">
            <p class="lead text-red"><strong>Serienmäßige Ausstattung:</strong></p>
        </div>
        <div class="d-flex justify-content-start">
            <ul>
                <li>Doppelscheinwerfer</li>
                <li>Brems- / Blinklicht</li>
                <li>Rückspiegel links</li>
                <li>Sitz (Lederoptik drehbar)</li>
                <li>Sitz- und Armlehnen individuell einstellbar</li>
                <li>Batterieladegerät</li>
                <li>Einkaufskorb vorn</li>
            </ul>

        </div>
    </div>
</div>