<div class="row my-2">
    <div class="col-12 animation-element slide-left">
        <div class="bg-blue slider-left">
            <div class="header">
                <h3 class="text-uppercase p-3">Motus</h3>
            </div>
        </div>
    </div>
</div>
<div class="row featurette">
    <div class="col-5 animation-element slide-left">
        <div class="box20">
            <picture>
                <source srcset="{{ asset('media/motus_web.webp') }}" type="image/webp">
                <source srcset="{{ asset('media/motus_web.jp2') }}" type="image/jp2">
                <img src="{{ asset('media/motus_web.jpg') }}" class="img-fluid mx-auto" />
            </picture>
            <div class="more">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="box-content">
                <h3 class="title">Ottobock Motus</h3>
                <span class="post">Technische Daten:</span>
                <ul>
                    <li>Rahmenmaterial 	Aluminium</li>
                    <li>Produktgewicht 	ab 12 kg (abhängig von Optionen)</li>
                    <li>Schwerpunktverstellung 	48 Positionen über Antriebsradadapter einstellbar</li>
                    <li>Max. Benutzergewicht</li>
                    <ul>
                        <li>125 kg (bis SB 480 mm)</li>
                        <li>140 kg (ab SB 505 mm)</li>
                    </ul>
                    </li>
                    <li>Rückenhöhe 	300–500 mm</li>
                    <li>Sitzbreite 	355–555 mm</li>
                    <li>Sitztiefe 	360–540 mm</li>
                    <li>Unterschenkellänge 	340–520 mm</li>
                    <li>Breite
                        <ul>
                            <li>Antriebsrad mit Kniehebelbremse 520–720 mm</li>
                            <li>Antriebsrad mit Trommelbremse 555–755 mm</li>
                        </ul>
                    </li>
                    <li>Länge 	805–1110 mm</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-7">
        <h2 class="featurette-heading">Ottobock Motus</h2>
        <p class="lead">Der Motus ist ein Adaptivrollstuhl, der sich Ihren individuellen Bedürfnissen entsprechend einstellen lässt.
            Die schwenkbaren Fußrasten und die höhenverstellbare Rückenlehne lassen sich schnell verstellen und sorgen so für bequemeres Sitzen (Motus CV).
            Optional erhalten Sie Ihren Motus mit kompaktem, festem Vorderrahmen und durchgehender Fußraste aus Aluminium (Motus CS).
            Übrigens: Transport und Lagerung kann der Motus schnell zusammengelegt werden , das spart Zeit und Energie.</p>

    </div>
</div>