{% block nav %}
<div class="m-2 d-none d-md-inline-block" id="teaser">
    <span class="bx bx-whiteblue"></span>
    <span class="bx bx-lightblue"></span>
    <span class="bx bx-darkblue"></span>
</div>
<div id="teaser-right">
    <picture>
        <source media="(max-width: 575.98px)" srcset="{{ asset('media/rac_weiss.gif') }}">
        <img src="{{ asset('media/rac.gif') }}" alt="Reha-aktiv GmbH" class="img-fluid">
    </picture>
</div>
<nav class="navbar navbar-light bg-blue py-3">

    <span class="navbar-text text-white lead">
        Mobilit&auml;t z&auml;hlt <span class="d-none d-md-inline-block">– weil dabei sein wichtig ist!</span>
      </span>
</nav>
{% endblock %}