{% extends 'frontend/start/index.html.twig' %}

{% block body %}
    {%  include 'frontend/start/nav.html.twig' %}
    <div class="container marketing py-4">
        <h2 class="display-4">Datenschutz</h2>
        <p class="lead">Der Schutz personenbezogener Daten ist uns ein wichtiges Anliegen. Deshalb betreiben wir unsere Aktivitäten in Übereinstimmung mit den anwendbaren Rechtsvorschriften zum Schutz personenbezogener Daten und zur Datensicherheit. Im Folgenden erfahren Sie, welche Informationen wir gegebenenfalls sammeln, wie wir damit umgehen und wem wir sie gegebenenfalls zur Verfügung stellen.</p>
        <h3 class="display-4">Verantwortliche Stelle</h3>
        <address>
            <p>Reha-aktiv GmbH<br/>
                Goethestraße 5&ndash;7<br/>
                09119 Chemnitz<br/>
                vertreten durch die Geschäftsführer<br/>
                Gerd Klinksiek und Ren&eacute; Jäschke<br/><br/>
                <span class="sr-only pr-1">(Tel)</span><i class="fas fa-phone-alt"></i> (0371) 369 10 12<br/>
                <span class="sr-only pr-1">(Fax)</span><i class="fas fa-fax"></i> (0371) 369 10 10<br/>
                <span class="sr-only pr-1">(E-Mail)</span><i class="fas fa-envelope"></i> <a href="mailto:info@reha-aktiv-chemnitz.de" title="E-Mail an Reha-aktiv senden">info@reha-aktiv-chemnitz.de</a>
            </p>
        </address>

        <h2 class="display-4">Cookies</h2>
        <p>Die Internetseiten verwenden teilweise sogenannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
            Die meisten der von uns verwendeten Cookies sind sogenannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
            Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.</p>

        <h2 class="display-4">Server-Log-Files</h2>
        <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
        <ul>
            <li>Browsertyp und Browserversion</li>
            <li>verwendetes Betriebssystem</li>
            <li>Referrer-URL</li>
            <li>Hostname des zugreifenden Rechners</li>
            <li>Uhrzeit der Serveranfrage</li>
        </ul>
        <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>

        <h2 class="display-4">Google Analytics</h2>
        <p>Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA.
            Google Analytics verwendet so genannte „Cookies“. Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</p>

        <h2 class="display-4">IP-Anonymisierung</h2>
        <p>Wir haben auf dieser Webseite die Funktion IP-Anonymisierung aktiviert. Dadurch wird Ihre IP-Adresse von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum vor der Übermittlung in die USA gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>

        <h2 class="display-4">Browser Plugin </h2>
        <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="https://tools.google.com/dlpage/gaoptout?hl=de" rel="nofollow">https://tools.google.com/dlpage/gaoptout?hl=de</a></p>

        <h2 class="display-4">Widerspruch gegen Datenerfassung</h2>
        <p>Sie können die Erfassung Ihrer Daten durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, der die Erfassung Ihrer Daten bei zukünftigen Besuchen dieser Website verhindert: Google Analytics deaktivieren
            Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerklärung von Google: <a href="https://support.google.com/analytics/answer/6004245?hl=de" rel="nofollow">https://support.google.com/analytics/answer/6004245?hl=de</a> </p>

        <h2 class="display-4">Auftragsdatenverarbeitung</h2>
        <p>Wir haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen und setzen die strengen Vorgaben der deutschen Datenschutzbehörden bei der Nutzung von Google Analytics vollständig um.</p>

        <h2 class="display-4">Demografische Merkmale bei Google Analytics</h2>
        <p>Diese Website nutzt die Funktion “demografische Merkmale” von Google Analytics. Dadurch können Berichte erstellt werden, die Aussagen zu Alter, Geschlecht und Interessen der Seitenbesucher enthalten. Diese Daten stammen aus interessenbezogener Werbung von Google sowie aus Besucherdaten von Drittanbietern. Diese Daten können keiner bestimmten Person zugeordnet werden. Sie können diese Funktion jederzeit über die Anzeigeneinstellungen in Ihrem Google-Konto deaktivieren oder die Erfassung Ihrer Daten durch Google Analytics wie im Punkt “Widerspruch gegen Datenerfassung” dargestellt generell untersagen.</p>

        <h2 class="display-4">Zugriffsdaten und Hosting</h2>
        <p>Sie können unsere Webseiten besuchen, ohne Angaben zu Ihrer Person zu machen. Bei jedem Aufruf einer Webseite speichert der Webserver lediglich automatisch ein sogenanntes Server-Logfile, das z.B. den Namen der angeforderten Datei, Ihre IP-Adresse, Datum und Uhrzeit des Abrufs, übertragene Datenmenge und den anfragenden Provider (Zugriffsdaten) enthält und den Abruf dokumentiert.
            Diese Zugriffsdaten werden ausschließlich zum Zwecke der Sicherstellung eines störungsfreien Betriebs der Seite sowie der Verbesserung unseres Angebots ausgewertet. Dies dient gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer korrekten Darstellung unseres Angebots. Alle Zugriffsdaten werden spätestens sieben Tage nach Ende Ihres Seitenbesuchs gelöscht.</p>

        <h2 class="display-4">Hostingdienstleistungen durch einen Drittanbieter</h2>
        <p>Im Rahmen einer Verarbeitung in unserem Auftrag erbringt ein Drittanbieter für uns die Dienste zum Hosting und zur Darstellung der Webseite. Dies dient der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer korrekten Darstellung unseres Angebots. Alle Daten, die im Rahmen der Nutzung dieser Webseite oder in dafür vorgesehenen Formularen im Onlineshop wie folgend beschrieben erhoben werden, werden auf seinen Servern verarbeitet. Eine Verarbeitung auf anderen Servern findet nur in dem hier erläuterten Rahmen statt.
            Dieser Dienstleister sitzt innerhalb eines Landes der Europäischen Union oder des Europäischen Wirtschaftsraums.</p>

        <h2 class="display-4">Google Fonts</h2>
        <p>Auf dieser Webseite ist der Script Code „Google Fonts“ des Unternehmens Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (nachfolgend: Google) eingebunden. Dies dient der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer einheitlichen Darstellung der Inhalte auf unserer Webseite gemäß Art. 6 Abs. 1 lit. f) DSGVO.
            In diesem Rahmen wird eine Verbindung zwischen dem von Ihnen verwendeten Browser und den Servern von Google hergestellt. Hierdurch erlangt Google Kenntnis darüber, dass über Ihre IP-Adresse unsere Webseite aufgerufen wurde.
            Google ist zertifiziert unter dem EU-US-Privacy Shield. Ein aktuelles Zertifikat kann hier eingesehen werden. Aufgrund dieses Abkommens zwischen den USA und der Europäischen Kommission hat letztere für unter dem Privacy Shield zertifizierte Unternehmen ein angemessenes Datenschutzniveau festgestellt.
            Weitergehende Informationen über die Datenverarbeitung durch Google finden Sie in den Datenschutzhinweisen von Google.</p>

        <h2 class="display-4">Verarbeitung im berechtigtem Interesse</h2>
        <p>Die Verarbeitung Ihrer Daten ist u.U. auch zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen. In diesem Fall findet eine Interessenabwägung statt, welche die entsprechenden notwendigen Aspekte der Datenverarbeitung berücksichtigt. Ein berechtigtes Interesse kann z.B.: aus folgenden Gründen vorliegen:</p>
        <ul>
            <li>zur Verhinderung von Betrug</li>
            <li>zu internen Verwaltungszwecke</li>
            <li>zur Gewährleistung der Netz- und Informationssicherheit</li>
            <li>zur Überprüfung und Optimierung von Geschäftsabläufen</li>
        </ul>

        <h2 class="display-4">Datenspeicherung / Löschfristen </h2>
        <p>Sobald der Zweck der Datenverarbeitung entfällt, werden wir unter Berücksichtigung der gesetzlichen Aufbewahrungsfristen sowie nach Ablauf der Fristen zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen Ihre Daten löschen.</p>

        <h2 class="display-4">Betroffenenrechte</h2>
        <p>Ihnen stehen die Betroffenenrechte gem. Art. 15-23 DSGVO zu. Das bedeutet, dass Sie Auskunft über Ihre Daten ersuchen und ggfls. eine Berichtigung verlangen können. Sie haben ein Recht auf Löschung sowie ein Widerspruchsrecht gegen die Verarbeitung. Ebenfalls steht Ihnen ein Anspruch auf Einschränkung der Nutzung und Datenübertragbarkeit zu.
            Sollten Sie von den genannten Rechten Gebrauch machen, prüfen wir, ob die gesetzlichen Voraussetzungen hierfür vorliegen.</p>

        <h2 class="display-4">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h2>
        <p>Sie können sich bei unserer Aufsichtsbehörde unter folgender Anschrift beschweren:</p>
        <address>
            Sächsischer Datenschutzbeauftragter<br/>
            Postfach 12 00<br/>
            01001 Dresden<br/><br/>
            <span class="sr-only pr-1">(Tel)</span><i class="fas fa-phone-alt"></i> 0351/85471 101<br/>
            <span class="sr-only pr-1">(Fax)</span><i class="fas fa-fax"></i> 0351/85471 109<br/>
            <span class="sr-only pr-1">(E-Mail)</span><i class="fas fa-envelope"></i> <a href="mailto:saechsdsb@slt.sachsen.de" rel="nofollow">saechsdsb@slt.sachsen.de</a>
        </address>
    </div>
    <!-- Footer Section -->
    <footer class="wn-footer">
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="p-2"><a href="{{ path('home') }}">Start</a></li>
            <li class="p-2"><a href="{{ path('imprint') }}">Impressum</a></li>
            <li class="p-2"><a href="{{ path('policy') }}">Datenschutz</a></li>
        </ul>
    </footer>
{% endblock %}