<div class="container marketing py-4">
    <h2 class="display-4">Mobilität zählt!</h2>
    <p class="lead"><strong>Rollatoren</strong> gehören inzwischen zum Alltag. Sie sind nützliche Begleiter, wenn Gleichgewicht und Kraft beim Gehen nicht mehr so richtig mitmachen. Wir bieten mit unserer Rehasense-Serie hochwertige Begleiter für jede Gelegenheit!</p>
</div>
<div class="container marketing py-4">
    {% include 'frontend/start/server.rollator.html.twig' %}
</div>
<div class="container marketing py-4">
    {% include 'frontend/start/router.rollator.html.twig' %}
</div>
<div class="container marketing py-4">
    {% include 'frontend/start/athlon.rollator.html.twig' %}
</div>