<div class="container marketing py-4">
    <p class="lead"><strong>Aktiv-Rollst&uuml;hle</strong> k&ouml;nnen heute wahre Leichtgewichte sein! Von der Verwendung daheim bis hin zur St&auml;dtetour ist vieles m&ouml;glich. Aber ob Falt- oder Starrahmen: Das Gewicht ist nur ein Qualit&auml;tskriterium, das ein Plus in Sachen Alltagsmobilit&auml;t bedeutet. Dazu kommen Schmutzempfindlichkeit von Lagern und Lenkradachsen, Rollwiderstand und Wendigkeit. Aber auch ein optimaler Greifpunkt, die richtige Radgr&ouml;&szlig;e und die Einstellung des Schwerpunktes sind Themen, die man am besten mit dem Experten bespricht. Das alles finden Sie bei uns!</p>
</div>

<div class="container marketing py-4">
    {% include 'frontend/start/avantgarde.rollstuhl.html.twig' %}
</div>

<div class="container marketing py-4">
    {% include 'frontend/start/motus.rollstuhl.html.twig' %}
</div>

<div class="container marketing py-4">
    {% include 'frontend/start/zenit.rollstuhl.html.twig' %}
</div>

<div class="container marketing py-4">
    {% include 'frontend/start/zenit_r.rollstuhl.html.twig' %}
</div>