<div class="container marketing py-4">
    <p class="lead"><strong>Elektromobile</strong> oder <strong>E-Scooter</strong> sind elektrisch angetriebene Mobilitätshilfen für Senioren und Menschen mit Handicap, die beispielsweise selbst kurze Wegestrecken wie Einkäufe oder Arztbesuche nicht mehr ohne Hilfe bewältigen können. Dabei reicht die Palette vom wendigen Flitzer für Haus und Hof bis zum Modell mit Straßenzulassung. Was zu wem passt - bei der Entscheidung hilft beispielsweise unsere Experten-Beratung!</p>
</div>
<!--<div class="parallax-window" data-parallax="scroll" data-image-src="/COLIBRI OF04.jpg"></div>-->
<div class="container marketing py-4">
    {% include 'frontend/start/colibri.scooter.html.twig' %}
</div>
<!--<div class="parallax-window" data-parallax="scroll" data-image-src="/LEO-OF62.jpg"></div>-->
<div class="container marketing py-4">
    {% include 'frontend/start/leo.scooter.html.twig' %}
</div>
<!--<div class="parallax-window" data-parallax="scroll" data-image-src="/ORION PRO OF04.jpg"></div>-->
<div class="container marketing py-4">
    {% include 'frontend/start/orion.scooter.html.twig' %}
</div>
<!--<div class="parallax-window" data-parallax="scroll" data-image-src="/COMET PRO OF02.jpg"></div>-->
<div class="container marketing py-4">
    {% include 'frontend/start/comet.scooter.html.twig' %}
</div>