<div class="row my-2">
    <div class="col-5 animation-element slide-left">
        <div class="bg-lightblue slider-left">
            <div class="header">
                <h3 class="text-uppercase p-3">Server</h3>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="sub-header">
            <h4 class="text-uppercase p-3 info text-right bg-lightblue">Stylisch &amp; sehr funktionell</h4>
        </div>
    </div>
</div>
<div class="row featurette">
    <div class="col-5 animation-element slide-left">
        <picture>
            <source srcset="{{ asset('media/server_front_web.webp') }}" type="image/webp">
            <source srcset="{{ asset('media/server_front_web.jp2') }}" type="image/jp2">
            <img src="{{ asset('media/server_front_web.jpg') }}" class="img-fluid mx-auto" />
        </picture>
    </div>
    <div class="col-7">
        <h2 class="featurette-heading">Rollator Server</h2>
        <p class="lead">Der Server ist das Einstiegsmodell in die Rehasense-Serie. Er ist wendig, stabil und höhenverstellbar.<br><u>Praktisches Extra:</u> die abnehmbare Einkaufstasche.</p>
        <div class="d-flex justify-content-between">
            <p class="lead text-red"><strong>Lieferumfang</strong></p>
            <p class="lead text-red"><strong>Technische Details:</strong></p>
        </div>
        <div class="d-flex justify-content-between">
            <ul>
                <li>Ankipphilfe</li>
                <li>Einkaufstasche</li>
                <li>Stockhalter</li>
            </ul>
            <ul>
                <li>Gewicht 6,7 - 7,0 kg</li>
                <li>Max. Nutzlast 150 kg</li>
                <li>Sitzhöhe 50 - 62 cm</li>
                <li>Sitzbreite 46 cm</li>
            </ul>
        </div>
    </div>
</div>