<div class="row my-2">
    <div class="col-12 animation-element slide-left">
        <div class="bg-blue slider-left">
            <div class="header">
                <h3 class="text-uppercase p-3">Zenit R</h3>
            </div>
        </div>
    </div>
</div>
<div class="row featurette my-2">
    <div class="col-5 animation-element slide-left">
        <div class="box20 py-4">
            <img src="{{ asset('media/zenit_r_web.webp') }}" class="img-fluid mx-auto py-4" />
            <div class="more">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="box-content">
                <span class="post">Technische Daten:</span>
                <ul>
                    <li>Sitzbreite 	320 – 460 mm</li>
                    <li>Sitztiefe 	360 – 500 mm</li>
                    <li>Sitzhöhe vorn 	380 – 540 mm</li>
                    <li>Sitzhöhe hinten 	370 – 500 mm</li>
                    <li>Rückenhöhe 	250 – 500 mm</li>
                    <li>Unterschenkellänge 	280 – 510 mm</li>
                    <li>Vorderrahmenwinkel 	75° / 85°</li>
                    <li>Gesamtbreite 	495 – 710 mm</li>
                    <li>Gesamtlänge 	640 – 1.040 mm</li>
                    <li>Gesamthöhe 	620 – 1.050 mm</li>
                    <li>Max. Zuladung 	120 kg</li>
                    <li>Gewicht 	ab ca. 8,5 kg</li>
                    <li>Transportgewicht (ohne Antriebsräder) 	ab ca. 6,0 kg</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-7">
        <h2 class="featurette-heading">Ottobock Zenit R</h2>
        <p class="lead">Kompromisslos, effizient, individuell – Zenit R! Gewichtsoptimierte Komponenten und verbesserte Starrrahmeneigenschaften setzen jeden deiner Kraftimpulse direkt in Bewegung um, was die Qualität des Fahrverhaltens enorm steigert. Zahlreiche Einstellmöglichkeiten erlauben zudem eine optimale Anpassung für noch mehr Komfort und machen den Zenit R zu einem Aktivrollstuhl ohne Kompromisse.</p>
    </div>
</div>