<div class="row my-2">
    <div class="col-12 animation-element slide-left">
        <div class="bg-blue slider-left">
            <div class="header">
                <h3 class="text-uppercase p-3">Zenit</h3>
            </div>
        </div>
    </div>
</div>
<div class="row featurette my-2">
    <div class="col-5 animation-element slide-left">
        <div class="box20 py-4">
            <img src="{{ asset('zenit.jpg') }}" class="img-fluid mx-auto py-4" />
            <div class="more">
                <i class="fas fa-info-circle"></i>
            </div>
            <div class="box-content">
                <span class="post">Technische Daten:</span>
                <ul>
                    <li>Sitzbreite 320 – 460 mm</li>
                    <li>Sitztiefe 360 – 500 mm</li>
                    <li>Sitzhöhe vorn 380 – 540 mm</li>
                    <li>Sitzhöhe hinten 370 – 500 mm</li>
                    <li>Rückenhöhe 250 – 500 mm</li>
                    <li>Unterschenkellänge 280 – 510 mm</li>
                    <li>Gesamtlänge 720 – 1040 mm</li>
                    <li>Gesamtbreite 490 – 725 mm</li>
                    <li>Gesamthöhe 720 – 1040 mm</li>
                    <li>Max. Zuladung 120 kg</li>
                    <li>Gewicht ab ca. 8,9 kg</li>
                    <li>Vorderrahmenwinkel 75° / 85°</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-7">
        <h2 class="featurette-heading">Ottobock Zenit</h2>
        <p class="lead"></p>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-general-zenit-tab" data-toggle="tab" href="#nav-general-zenit" role="tab" aria-controls="nav-general-zenit" aria-selected="true">Hauptmerkmale</a>
                <a class="nav-item nav-link" id="nav-options-zenit-tab" data-toggle="tab" href="#nav-options-zenit" role="tab" aria-controls="nav-options-zenit" aria-selected="false">Optionen</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general-zenit" role="tabpanel" aria-labelledby="nav-general-zenit-tab">
                <ul class="py-4">
                    <li>Easy-Go Faltsystem</li>
                    <li>Geschlossener Vorderrahmen mit integrierter Fußraste</li>
                    <li>Open-Frame-Bauweise mit Faltfunktion</li>
                    <li>Kompakte Abmessungen und ein geringes Faltmaß</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="nav-options-zenit" role="tabpanel" aria-labelledby="nav-options-zenit-tab">
                <ul class="py-4">
                    <li>Fest verschweißte Antriebsradposition und auf Maß gebogene Rückenrohre</li>
                    <li>Rahmenrohr aus Carbon</li>
                    <li>Verschiedene Rückenbespannungen</li>
                    <li>Verschiedene Schiebegriffe</li>
                    <li>Verschiedene Seitenteile</li>
                    <li>Verschiedene Antriebsradfelgen</li>
                    <li>Verschiedene Greifreifen</li>
                    <li>Scherenbremse</li>
                    <li>Verschiedene Lenkräder / Lenkradgabeln</li>
                    <li>Kippschutz</li>
                    <li>Ankipphilfe</li>
                </ul>
            </div>
        </div>
    </div>
</div>