
.btn:hover,
.btn:focus,
.btn:active{
  outline: 0 !important;
}
/* entire container, keeps perspective */
.rotating-card.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}
/* flip the pane when hovered */
.rotating-card.card-container:not(.manual-flip):hover .card,
.rotating-card.card-container.hover.manual-flip .card{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}


.rotating-card.card-container.static:hover .card,
.rotating-card.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* flip speed goes here */
.rotating-card .card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.rotating-card .front, .rotating-card .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.rotating-card .front {
  z-index: 2;
}

/* back, initially hidden pane */
.rotating-card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
}

.rotating-card .back .btn-simple{
  position: absolute;
  left: 0;
  bottom: 4px;
}
/*        Style       */


.rotating-card .card{
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}
.rotating-card.card-container, .rotating-card .front, .rotating-card .back {
  width: 100%;
  height: 420px;
  border-radius: 4px;
}
.rotating-card .card .cover{
  height: 150px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.rotating-card .card .cover img{
  width: 100%;
}
.rotating-card .card .user{
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 120px;
}
.rotating-card .card .user img{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}

.rotating-card .card .content{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 10px 20px 20px;
}
.rotating-card .card .content .main {
  min-height: 160px;
}
.rotating-card .card .back .content .main {
  height: 215px;
}
.rotating-card .card .name {
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0 0;
  text-align: center;
  text-transform: capitalize;
}
.rotating-card .card h5{
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}
.rotating-card .card .profession{
  color: #999999;
  text-align: center;
  margin-bottom: 20px;
}
.rotating-card .card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}
.rotating-card .card .footer .social-links{
  font-size: 18px;
}
.rotating-card .card .footer .social-links a{
  margin: 0 7px;
}
.rotating-card .card .footer .btn-simple{
  margin-top: -6px;
}
.rotating-card .card .header {
  padding: 15px 20px;
  height: 90px;
}
.rotating-card .card .motto{
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.rotating-card .card .stats-container{
  width: 100%;
  margin-top: 50px;
}
.rotating-card .card .stats{
  display: block;
  float: left;
  width: 33.333333%;
  text-align: center;
}

.rotating-card .card .stats:first-child{
  border-right: 1px solid #EEEEEE;
}
.rotating-card .card .stats:last-child{
  border-left: 1px solid #EEEEEE;
}
.rotating-card .card .stats h4{
  font-weight: 300;
  margin-bottom: 10px;
}
.rotating-card .card .stats p{
  color: #777777;
}
/*      Just for presentation        */

.rotating-card .title{
  color: #506A85;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-bottom: 90px;
  line-height: 90%;
}
.rotating-card .title small{
  font-size: 17px;
  color: #999;
  text-transform: uppercase;
  margin: 0;
}
.rotating-card .space-30{
  height: 30px;
  display: block;
}
.rotating-card .space-50{
  height: 50px;
  display: block;
}
.rotating-card .space-200{
  height: 200px;
  display: block;
}
.rotating-card .white-board{
  background-color: #FFFFFF;
  min-height: 200px;
  padding: 60px 60px 20px;
}
.rotating-card .ct-heart{
  color: #F74933;
}

.rotating-card pre.prettyprint{
  background-color: #ffffff;
  border: 1px solid #999;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}
.rotating-card .atv, .rotating-card .str{
  color: #05AE0E;
}
.rotating-card .tag, .rotating-card .pln, .rotating-card .kwd{
  color: #3472F7;
}
.rotating-card .atn{
  color: #2C93FF;
}
.rotating-card .pln{
  color: #333;
}
.rotating-card .com{
  color: #999;
}

.rotating-card .btn-simple{
  opacity: .8;
  color: #666666;
  background-color: transparent;
}

.rotating-card .btn-simple:hover,
.rotating-card .btn-simple:focus{
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
.rotating-card .btn-simple i{
  font-size: 16px;
}

.rotating-card .navbar-brand-logo{
  padding: 0;
}
.rotating-card.navbar-brand-logo .logo{
  border: 1px solid #333333;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  width: 60px;
}
.rotating-card .navbar .navbar-brand-logo .brand{
  color: #FFFFFF;
  float: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
}
.rotating-card .navbar-default .navbar-brand-logo .brand{
  color: #555;
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .rotating-card .front, .rotating-card .back{
    -ms-backface-visibility: visible;
    backface-visibility: visible;
  }

  .rotating-card .back {
    visibility: hidden;
    -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .rotating-card .front{
    z-index: 4;
  }
  .rotating-card.card-container:not(.manual-flip):hover .back,
  .rotating-card.card-container.manual-flip.hover .back{
    z-index: 5;
    visibility: visible;
  }
}